@import url("https://fonts.googleapis.com/css?family=Inter&display=swap&font-effect-3d");

body {
    font-family: Inter, serif;
    background: linear-gradient(360deg, #c46868 0%, #4e7ca6 100%);
}

p {
    color: #51565a;
}

section {
    padding: 16px;
}

footer {
    background-color: #4e7ca6;
    padding: 8px;

}

.footer-sosial {
    max-width: 32px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    color: cornflowerblue;
}

.navbar {
    padding: 2px;
    
}

.nav-link  {
    color: cornflowerblue;
}

.nav-link.nav-link.active {
    color: rgb(130, 174, 255);
}

.nav-img-logo {
    height: 40px;
    width: 40px;
}

.navbar-toggler {
    background-color: cornflowerblue;
    align-items: end;
}

.navbar-nav {
    align-items: end;
    padding-right: 4px;
}

.sidebar {
    color: blue;
    background: linear-gradient(90deg, #c46868 0%, #4e7ca6 100%);
}

.slide-text {
    display: block;
    color: #51565a;
    margin: auto auth;

}

.call-anim {
    animation: call 2s ease 1s infinite normal forwards;
}

.img-help {
    max-width: 32px;
    border-radius: 8px;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media (max-width: 640px){
    .carousel-indicators {
        display: none;
    }
}

